.contenedor-grid{
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  grid-template-areas:" header header header header header header header header header header header header"
  "banner banner banner banner banner banner banner banner banner banner banner banner"
  "main main main main main main main main main main main main"
  "widget widget widget widget widget widget widget widget widget widget widget widget"
  "footer footer footer footer footer footer footer footer footer footer footer footer"
  "footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2 footer2";
}

/*------------------------------------------- header-------------------------------------------------------------*/
.contenedor-grid header{
  background: linear-gradient(
45deg
, #ea87e8, transparent);
  grid-area:header;
  width: 100%;
  height: 130px;
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  z-index:1000;
}

.nav{
  display: flex;
  justify-content: space-around;
}
.imagen-logo img { 
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}
.menu-drop{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 0 20px;
  margin: 0px 30px;
}
.botones-nav{
display: flex;
flex-direction: column;
justify-content: center;
}
.botones-nav ul li{
  list-style: none;
  border-radius: 15px;
  list-style: none;


}
.botones-nav ul li a{
  text-decoration: none;
  color: black;
  margin:10px 20px;
}
.drop-container{
  display: none; 
  position: absolute;
  border-radius: 5px;
  text-align: initial;
  transition: 1s;
  line-height: 4;
  border: solid 6px;
  border-top: none;
  border-color: deeppink;
   padding: 10px 0; 
  background-color: pink;
}
.drop-container li {
  margin:0;
}
.dropdow:hover > .drop-container{
  display: block; 
  position: absolute;
  border-radius: 5px;
  text-align: initial;
  transition: 1s;
  line-height: 4;
  border: solid 6px;
  border-top: none;
  border-color: deeppink;
padding: 10px 0; 
  background-color: pink;

}
.btn-drop{
  padding: 10px;
}  

.botones-nav ul li:hover{
  background-color: fuchsia;
  transition: 0,5s;
}
.btn-movil{
  display: flex;
  justify-content: space-around;
}
.btn-carrito-movil{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
.btn-menu{
  border: none;
  background-color: transparent;
  display: none;
}
@media screen and (max-width:768px){
  *{
      padding: 0;
  }
  .btn-menu{
      border: none;
      background-color: transparent;
      display: flex;
      border: none;
      justify-content: space-between;
      margin: auto 40px;
      font-size: x-large;
  }
  .botones-nav{
      top: 0%;
      transition:1s;
      justify-content: flex-start;
      position: fixed;
      margin-top: 130px;
      left: 0;
      width: 100%;
      text-align: center;
      height: 100%;
      background-color: slategrey;
      overflow-y: auto;
}
.dropdow:hover > .drop-container {
  display: block;
  position: relative;
  border-radius: 5px;
  text-align: center;
  transition: 1s;
  line-height: 4;
  border: solid 6px;
  border-top: none;
  border-color: deeppink;
  padding: 10px 0;
  background-color: pink;
}
  .botones-nav ul{
      line-height: 3;
      list-style: none;
      flex-direction: column;
      margin: 0;
      padding: 0;
      background-color: slategrey;
  }
  .boton-togle{
      display: block;
      transition: 1s;
      top: 100%;
  }
  .menu-drop{
      display:flex;
      flex-direction: column;
      margin: 50px;
      margin: 10px;
      }
      .drop-container {
          position: relative;
          line-height: 4;
      }
  

}
/*--------------------------------------------- main  -----------------------------------------------------------*/
.contenedor-grid .main{
  grid-area: main;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-color: #e7e7e7;;
}
.caja-articulos{
  justify-content: space-between;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  margin:10px;
}
  @media screen and (min-width: 768px){
      .caja-articulos{
          justify-content: space-between;
          flex-wrap: wrap;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 25px;
  }
}
.articulo-hijo{
  
  background-color: white;
  display: flex;
  margin: 10px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 60%);
}
.tamanio-entablas{
  width:100px;
  height:100px;
}
.tamano-tarjeta{
  height: 200px;
  width: 200px;
  padding: 10px;

}

.titulo-tarjeta{
  text-align: center;
}
.descripcion{
  margin: 10px;
  list-style:none;
  
}
.btn-card{
  margin:10px;
  
}

/*--------------------------------------------- main DETAIL  -----------------------------------------------------------*/


.contenedorPadre{

  display: flex;
  justify-content: center;

}
.contenedorMain{
  margin-top: 20px;
display: flex;
  flex-direction: row;
  height: 400px;
  width: 75%;
  align-items: center;
  justify-content: center;
}

.descripcion{
padding: 10px;
}
